<div> hello</div>
<div *ngIf="isValid">
    <button (click)="signInWithGoogle()">Sign in</button>
    content here ...
  </div>
  <!-- <ng-template #other_content>other content here... -->
  
  <!-- </ng-template> -->
  <div *ngIf="isVerified">
    <button (click)="sendOtp()"> send otp </button>
    <!-- content here ... -->
  </div>
  <!-- <div *ngIf="isLogin"> -->
    <!-- <h1>hello</h1> -->
    <!-- <button (click)="sendotp()"> send otp </button> -->
    <!-- <div> -->
        <!-- <h4>{{ data.name }}</h4> -->
        <!-- <p>{{ data.email }}</p> -->
      <!-- </div> -->
  <!-- </div> -->
  